.inputfile {
    overflow: hidden;
    display: none;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(2, 170, 236);
    display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: rgb(2, 170, 236, .5);
}

.inputfile+label {
    cursor: pointer;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}