video {
    width: 100%;
    border: 1px solid black;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.video-wrapper {
    width: 100%;
    max-width: 720px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #000000;
}

.video-wrapper:hover .controls {
    transform: translateY(0%);
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: 100%;
    flex-wrap: wrap;
    transform: translateY(160%);
    transition: all 0.3s ease-in-out;
}

.range-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="range"] {
    /* -webkit-appearance: none !important; */
    /* background: rgba(255, 255, 255, 0.2); */
    height: 4px;
    width: 97%;
}

input[type="range"]::-webkit-slider-thumb {
    /* -webkit-appearance: none !important; */
    cursor: pointer;
    height: 6px;
}

input[type="range"]::-moz-range-progress {
    background: white;
}

.actions-container {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 95%;
}

.actions-container .left {
    display: flex;
    width: 50%;
}

.actions-container .right {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.velocity {
    appearance: none;
    background: none;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    font-size: 16px;
}

.action-buttons {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}