body {
    background: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: auto;
}

p {
    text-align: end;
    width: 90%;
    padding: 10px;
    margin: 0;
}